<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <link rel="icon" href="/static/favicon.png" type="image/png">
    <title>Radio Globe</title>
</head>
<body>
    <div class="absolute side-panel w-1/4 min-w-fit max-w-7xl">
        <form 
            class="bg-white shadow-md rounded px-3 pt-1 pb-3" 
            hx-get="/map/"
            hx-param="location"
            hx-indicator="#loading"
            hx-target=".main-panel">

            <div>
                <label class="block text-gray-700 text-sm font-bold mb-1" for="location">
                    Location
                </label>
                <div id="search-target" class="flex items-center">
                    <input 
                        class="shadow appearance-none border rounded w-full py-2 pl-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                        type="text" 
                        id="autocomplete" 
                        name="location" 
                        placeholder="Enter location" 
                        hx-get="/auto-complete/" 
                        hx-trigger="keyup changed delay:200ms" 
                        hx-target="#suggestions">
                    <img src="/static/spinner.svg" id="loading" class="htmx-indicator" width="35px" height="35px">
                    <button 
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                        type="submit">
                        Submit
                    </button>
                </div>
                <div id="suggestions"></div>
            </div>
        </form>
    </div>
    <div class="main-panel w-screen h-screen bg-blue-300">
        <iframe 
            class="w-screen h-screen"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key={{ .GoogleMapsApiKey }}&q=ImpossibleLocation12345+NowhereEverThatExistsSurely">
        </iframe>
    </div>
</body>
</html>